# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Logs & runtime
logs/
pids/
*.log

# OS
.DS_Store

# Data runtime artifacts
data/runtime/*.json

# Helm cache
*.tgz

# Env files
*.env
